.ticket-img-reporter {
    margin: 4px 4px 3px 2px;
    width: 20px;
    height: 24px;
}

.move {
    cursor: move;
}

    .move:hover {
        cursor: move;
        background-color: #EDECEC;
    }

.padding-null {
    padding: 0px;
}

.status {
    padding-right: 0px;
}

.div-ticket {
    height: 80px;
    border: 1px solid #cccccc;
    margin: 0px;
    background-color: white;
}

.div-left {
    width: 5px;
    height: 80px;
    float: left;
}

.ticket-type-img {
    margin: 2px;
    height: 16px;
    width: 16px;
}

.ticket-priority-img {
    padding: 2px;
}

.bin {
    float: left;
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.p-height {
    height: 35px;
}

.div-overflow {
    overflow: hidden;
}

.item {
    transition: all 0.2s ease;
    overflow: hidden;
}

.drag {
    opacity: 0.5;
}

.over {
    background: #E2D8D8;
}

.done {
    text-decoration: line-through;
}

.red {
    background-color: red;
}

.agua {
    background-color: aqua;
}

.ticket-title {
    line-height: 1;
}

.panel-border {
    height: 80px;
    border-bottom: 2px solid black;
}

.nav-fixed {
    bottom: 0px;
    position: fixed;
    top: 0;
    top: 80px;
}

.nav-absolute {
    background: #f2f2f2;
    position: absolute;
    top: 0;
    bottom: 0;
}

.img-width {
    width: 70px;
}

.a-border-bottom {
    border-bottom: 1px solid #ebeaea;
}

.a-futer {
    position: absolute;
    left: 0;
    bottom: 40px;
    border-bottom: 0;
    border-top: 1px solid #ebeaea;
}

.div-margin {
    margin-left: 90px;
}

.selectedItem {
    background: black;
    display: block;
}


.nav-absolute img {
    opacity: 0.9;
}

.nav-absolute a:hover {
    background: black;
    display: block;
}
