.ticket-img-reporter {
    margin: 4px 4px 3px 2px;
    width: 20px;
    height: 24px;
}

.move {
    cursor: move;
}

.ss {
    background-color: red;
}

.move:hover {
    cursor: move;
    background-color: #EDECEC;
}

.padding-null {
    padding: 0px;
}

.status {
    padding-right: 0px;
}

.div-ticket {
    height: 80px;
    border: 1px solid #cccccc;
    margin: 0px;
    background-color: white;
}

.div-left {
    width: 5px;
    height: 80px;
    float: left;
}

.ticket-type-img {
    margin: 2px;
    height: 16px;
    width: 16px;
}

.ticket-priority-img {
    padding: 2px;
}

.bin {
    float: left;
    width: 100%;
    background-color: #F5F5F5;
}

.item {
    transition: all 0.2s ease;
    overflow: hidden;
}

.drag {
    opacity: 0.5;
}

.over {
    background: #E2D8D8;
}

.done {
    text-decoration: line-through;
}

.red {
    background-color: red;
}

.agua {
    background-color: aqua;
}
