<div class="nav-fixed">
    <div class="nav-absolute">
        <a><img class="img-width" src="app/img/s.png" /></a>
        <a ui-sref=".path1" ui-sref-active="selectedItem" class=" a-border-bottom"><img src="app/img/q.png" /> </a>
        <a ui-sref=".tickets" ui-sref-active="selectedItem"><img src="app/img/w.png" /> </a>
        <a ui-sref=".path2" ui-sref-active="selectedItem"><img src="app/img/e.png" /> </a>
        <a ui-sref=".path3" ui-sref-active="selectedItem"><img src="app/img/r.png" /> </a>
        <a ui-sref=".path4" ui-sref-active="selectedItem"><img src="app/img/y.png" /> </a>
        <a class="a-border-bottom"> <img src="app/img/u.png" /> </a>
        <a class="a-futer"><img src="app/img/a.png" /> </a>
    </div>
</div>
<div class="div-margin" ui-view></div>
